<!-- button generate, clear all, dan copy string -->

<script>
    export let buttonText = '';
    export let onClick;
</script>

<style>
    button {
		background:	#8b004f;
		border: none;
		color: #F7bace;
		padding: 10px 20px;
		font-weight:600;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 16px;
	}
/* ketika button ditekan */
	button:active {
		color: white;
		background: #cc9ac6;
	}
</style>

<button on:click={onClick}>{buttonText}</button>