<!-- title dan form -->

<script>
	import TweetForm from './TweetForm.svelte';
</script>

<style>
	.title{
		color:#b70067;
		font-size:36px;
		font-weight:600;
	}
	/* .sub-title{
		color:#F352ac;
		font-weight:600;
		text-decoration: underline;
	} */
	.main{
		height: 100%;
		padding:50px;
		background:#fbb8db;
	}
</style>

<div class="main">
	<div class="title"><span style="color: #b70067;">&#9829;</span> Tweet Generator <span style="color: #b70067;">&#9829;</span></div>
	<TweetForm/>
	<!-- <a class="sub-title"
	   href='https://xq-is-here.medium.com/'
	   target="_blank"
	   rel="noopener noreferrer">Made with <span style="color: #e25555;">&#9829;</span> by XQ
	</a> -->
</div>
